*{
    margin:0;
    padding:0;

}
.logo{
    margin-left: 25px;
    width: 20%;
    color: white;
    font-family: cursive;
    font-size: 20px;
}
/* .logo img{
    width: 50%;
    /* border-radius: 50px; */
    /* border: white; */
    /* box-shadow: 50px; */

/* } */
.navbar{
    display: flex-end;
    
}
.navlist{
width: 50%;
/* background-color: rgb(212, 58, 58); */
display: flex;
align-items: center;
}
.navlist li{
list-style: none;
padding: 30px;


}
.navlist a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
}

.navlist li a:hover{
    color: rgb(0, 0, 0);
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: white;

}

.rightnav{
    /* background-color: black; */
    width: 50%;
    text-align: right;

}
/* #search{
    padding:3px;
    font-size: 17px;
    border: 1px;
    border-radius: 20px;
    margin-top: 20px;
} */


.background{
    background: rgba(5, 5, 5, 0.7) url(../assets/pexels-jozef-fehér-2774140.jpg);
    background-size: cover;
    background-blend-mode:soft-light ;

}
.firstsection{
    height:90vh;
}
.boxmain{
   display:flex;
   align-items: center;
   justify-content: center;
   color: white;
   max-width: 50%;
   margin:auto;
   padding: 230px;
}


.text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* background-color: #f0f0f0; Optional background color */
    padding: 10px; /* Optional padding */
    width: 100%;
    font-size: 45px; /* Optional width */
}




.btn{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 18px;
    margin-left: 309px;
    margin-top: 10px;
    font-size: 15px;
  color: white;
  background-color: brown;
  border-style: none;
}
.button{
    margin-left: 549px;
    margin-top: -172px;
    padding-top: 0;
    padding-bottom: 20px;
}
.btn1:hover{
    background-color: burlywood;
    color: black;
}